.wrapper {
  margin-top: 70px;
}

.validator-header {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.card-validator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-validator__cards-images {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.card-validator__image-block {
  margin-right: 5px;
}

.card-validator__image-block:last-child {
  margin-right: 0px;
}

.card-validator__image {
  object-fit: contain;
  width: 50px;
  opacity: 0.3;
}

.card-validator__input {
  width: 300px;
}

.card-validator__chek-status {
  font-family: Arial, Helvetica, sans-serif;
}